@import "./styles/variables";
.app {
  min-height: 100vh;
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 34rem;
    padding: 8.75rem;
    background: url("./assets/hero.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    & h1 {
      font-size: 3rem;
      color: white;
      margin-bottom: 0.5rem;
    }
    & h6 {
      font-size: 1.3rem;
      margin-bottom: 2.375rem;
      font-weight: lighter;
      color: white;
    }

    @media screen and (max-width: 800px) {
      & h1 {
        margin-bottom: 1rem;
      }
      padding: 2rem;
      text-align: center;
      align-items: center;
      background: url("./assets/hero.png") rgba(0, 0, 0, 0.3);
    }
  }

  .jobs {
    padding: 5rem 8.75rem 1rem 8.75rem;
    @media screen and (max-width: 800px) {
      padding: 2rem;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      @media screen and (max-width: 800px) {
        flex-direction: column;
        padding: 2rem;
      }

      & h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        @media screen and (max-width: 800px) {
          font-size: 2rem;
        }
      }

      & a {
        font-size: 1.1rem;
        color: $primary;
        font-weight: bold;
      }
    }

    .cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        justify-content: center;
      }
    }
  }

  .featured {
    padding: 0rem 8.75rem;
    @media screen and (max-width: 800px) {
      padding: 2rem;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      @media screen and (max-width: 800px) {
        flex-direction: column;
        padding: 2rem;
      }
      & h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        @media screen and (max-width: 800px) {
          font-size: 2rem;
        }
      }

      & a {
        font-size: 1.1rem;
        color: $primary;
        font-weight: bold;
      }
    }

    .companies {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 10rem;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        margin-right: 2rem;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.9);
        }
        @media screen and (max-width: 800px) {
          margin-right: 0;
          margin-bottom: 3rem;
        }

        .icon {
          border-radius: 100%;
          padding: 2rem;
          border: 1px solid #cfcfcf;
          margin-bottom: 0.5rem;
        }

        & p {
          font-weight: bolder;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}

// .divider {
//   background: #cfcfcf;
//   width: 1px;
// }
