@import "./assets/fonts/style.css";

body {
  margin: 0;
  font-family: "Gordita Regular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141414;
}

* {
  margin: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
}

button {
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
